<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JoBlog API</title>
</head>
<body>
  <div>
    <a href="/devBoardList">/devBoardList</a> 테스트
  </div>
</body>
</html>